# Introduction to Google Colab, Python, Numpy and Pandas

This tutorial is a quick introduction to Python and the numpy and pandas libraries. Python is a general purpose language. Libraries are collections of functions and objects that can be used to perform specific tasks. Numpy is a library for scientific computing. Pandas is a library for data analysis.

We will be using these libraries throughout the course.
This tutorial is based on these tutorials:
https://faculty.washington.edu/otoomet/machinelearning-py/

https://www.codecademy.com/article/introduction-to-numpy-and-pandas
https://cs231n.github.io/python-numpy-tutorial/

To start this tutorial, first create a copy of this notebook by clicking File > Save a copy in Drive. Open your own copy before modifying.

#Using colab

Google Colab is a powerful tool for running Python code in the cloud, making it easy to perform data analysis, machine learning, and other computational tasks without the need for local hardware.

### Understanding the interface
The interface is composed of the **menu** on top (File, Edit, View ... ). Explore the menus and list some options inside each of them.

The **toolbar**: You will find the toolbar to the left of this screen.
It is composed of multiple icons.

![Screenshot 2024-08-01 at 6.24.32 PM.png](). This icon lets you see the table of contents.

![Screenshot 2024-08-01 at 6.29.27 PM.png](). This icon lets you see the files for this notebook. We will use this later to upload and save a file.

#### **Exercise**  
This is a text cell. You can double-click to change its contents.  Write some options in the File menu.  Explore the text options on top to change the format.

**Code Cells:** For writing and executing Python code.
Click the play button (▶) or press Control + Enter in the following cell to execute the code inside it.

In [ ]:
print("Welcome to the Pervasive Healthcare course! ")

Welcome to the Pervasive Healthcare course!

### Creating new cells

To create a cell use the +Code or + Text icons at the top, below the menu.
1. Create a new text cell and a new code cell

2. **Create a new text cell at the beginning of this notebook and write your student name and student id.**

#Using commands in colab
To run a command inside a code cell, we use the exclamation mark. Commands are linux functions, which can do a variety of tasks.

For example, the following code uses the echo command to print a line to the screen. Run the command by clicking on the play button next to the cell.

In [ ]:
!echo "Hello World!"

Hello World!

The wget command is used to download the contents of an url. In the next cell type
```
!wget ttps://www.concordia.ca/students/undergraduate/undergraduate-academic-dates.html
```
to download the academic calendar. Once the download is complete, verify that the file was downloaded to your files by clicking the folder icon on the left toolbar.

In [ ]:
#TODO

We will now install the libraries we need. To install a library we use the pip install command.

Use the command
```
!pip install numpy
```
to install the numpy library. Don't forget the exclamation mark

In [ ]:
#TODO

Now use the pip install command to install the pandas library. Change the name of the library (numpy) to pandas.

In [ ]:
#TODO

# Introduction to Python



## Variables
A variable is used to store data that can be manipulated and referenced throughout a program.

In [ ]:
text = "Hello world"
text

You can use print, to output the data in an easy to read format.
Write
```
print(text)
```
in the following cell.

In [ ]:
#TODO

Variables can also be numbers.

In [ ]:
number = 10
number

You can print multiple variables by using the comma

In [ ]:
print("Hello", number)

In [ ]:
#Exercise: Write the code to print the message Hello, <your name>. For example, Hello, Paula. Use a variable for your name
# TODO

You can operate variables. Python will decide the meaning of the operator based on the variable type.

In [ ]:
number1 = 10
number2 = 30
number1 + number2

In [ ]:
name = "Paula"
lastname = "Lago"
name + lastname

Try to run the following cell. What is the error?  What do you think it means?

In [ ]:
number1 + lastname

To operate strings and numbers, you need to **cast** the number into a string.

In [ ]:
lastname + str(number2)

## Lists

Here we will take a look at the list data type. If you are completely new to Python, please go through the tutorial here https://faculty.washington.edu/otoomet/machinelearning-py/

When writing python code, follow the conventions https://peps.python.org/pep-0008/

"Lists are ordered collections that can contain everything (they can contain the abstract type object). Lists are perhaps the most popular collection type as these are intuitive, easy to handle, fast, mutable (they can be modified) and have a wide range of uses."

Lists can be created using square brackets:

In [ ]:
empty_list = []
print(empty_list)

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

Elements in a list are accessed by index, that is their position in the list. Indexes start at zero.

In [ ]:
print(my_list[0])
print(my_list[2])
print(my_list[-1])
print(my_list[-2])

## Questions
1. What is the meaning of a negative index?

## Slicing
We can access a range of elements in a list using slicing. The syntax is list[start:end]. The start index is inclusive and the end index is exclusive. For each of the following examples, try to predict the output before running the code.

In [ ]:
print(my_list[1:3])

In [ ]:
print(my_list[1:])

In [ ]:
print(my_list[:3])

In [ ]:
print(my_list[:-1])

We can also use a step size in the slicing syntax. The syntax is list[start:end:step]. For example, the following code prints every second element in the list.

In [ ]:
print(my_list[::2])

In [ ]:
print(my_list[::-1])

## Questions
1. What is the meaning of a negative step size?


Lists have many methods. Methods are functions that are associated with a specific object. The append method adds an element to the end of a list. In the example use the append method to create a list of squares.

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

We can also use list comprehension to create a list of squares to simplify the above code

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

In [ ]:
## Questions
1. What did the previous code do?

## Dictionary
A dictionary is a collection of key-value pairs. Dictionaries are created using curly brackets. The following code creates a dictionary with two key-value pairs.

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}
print(d['cat'])

We can add new key-value pairs to a dictionary. The following code adds a new key-value pair to the dictionary.

In [ ]:
d['fish'] = 'wet'
print(d['fish'])

You can iterate over the keys in a dictionary using the following syntax.

In [ ]:
for animal in d.keys():
    print(animal)
    print(d[animal])

## Functions
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

To call a function, use the function name followed by parenthesis:

In [ ]:
my_function()

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

You can also send arguments with the key = value syntax. This way the order of the arguments does not matter.

In addition, an argument can have a default value. If we call the function without argument, it uses the default value

In [ ]:
def my_function(name = "Jane", country = "Norway"):
  print(name + " is from " + country)

my_function("Marianne", "Sweden")
my_function(country="India")
my_function()
my_function(name="Jensen")

To let a function return a value, use the return statement:

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

# Numpy
Numpy is a library for scientific computing. It provides a multidimensional array object, ass well as an assortment of routines for fast operations on arrays. To use it, we first need to import it. We will give the library the shortname **np**

In [ ]:
import numpy as np

## Arrays
A numpy array is the basic structure of numpy representing an N-dimensional object. 1D arrays are called vectors, 2D arrays are matrices and higher-dimensional arrays are called tensors.
Arrays are created with ```np.array```. We can pass a python list as a parameter to create an array of known values. Notice **np** is the shortname we gave to numpy. We would use numpy if no shortname was given or other shortname we defined. It is standard to call numpy **np**.

In [ ]:
vector = np.array([1,2,3,4])
print(vector)

To create a matrix, we pass a set of lists as parameters, one for each dimension. The following, creates a 2x2 matrix.

In [ ]:
matrix = np.array(([1,2],[3,4]))
print(matrix)

Try to predict what the following code will print before running the cell.

In [ ]:
print(vector.shape)
print(matrix.shape)

## Questions
1. What is the meaning of the shape property (notice it is a property of the array and not a method because methods use parenthesis (i.e. shape() ) ?
2. Create a 3x4 matrix in numpy.

In [ ]:
vector.reshape((2,2))

We can also create arrays of zeros, ones or random numbers using the following code. The parameter is  a tuple representing the shape of the array.

In [ ]:
a = np.zeros((2,2))   # Create a 2x2 matrix of all zeros
print('a', a)

b = np.ones((1,2))    # Create a 1x2 matrix of all ones
print('b', b)

c = np.full((2,2), 7)  # Create a 2x2 matrix of all sevens
print('c', c)

d = np.random.random((2,2))  # Create a 2x2 matrix of random numbers
print('d', d)

e = np.arange(1, 10, 1) # Create an array of evenly spaced values (step value)
print('e', e)

#TRY IT: Create a 3x3 matrix of random numbers

#TRY IT: Create a 3x3 matrix of the numbers from 1 to 9

In [ ]:
np.random.random(3)

## Array Indexing
We can access elements in an array using the same syntax as lists. The following code prints the first element in the vector and the first row in the matrix.

In [ ]:
print(vector[0])
print(matrix[0])

In [ ]:
print(matrix[0,0])

# What will matrix[0,1] print?

We can also use slicing to access a range of elements in an array. The following code prints the first two elements in the vector and the first row in the matrix. When working with matrices (2-D arrays), we need two indices, separated by comma. Comma separates two slices, one for each dimension. The first slice is for the rows and the second slice is for the columns.

In [ ]:
print(vector[[0,1]])

print("In matrix")
print(matrix[0,0:2])

#Try it: Print the second column in the matrix

## Boolean Indexing
We can also use boolean indexing to access elements in an array. The following code prints the elements in the vector that are greater than 2.

In [ ]:
print(vector[vector > 2])

In [ ]:
print(matrix[matrix > 2])

A useful feature of boolean indexing is that the condition can relate to other array. The following code creates one array of student names and another array of student grades. It then prints the names of students with grades greater than 70.

In [ ]:
names = np.array(['Bob', 'Joe', 'Will', 'Mary', 'Taylor', 'Karen', 'Jay'])
grades = np.array([70, 80, 90, 70, 90, 80, 70])
print(names[grades > 70])

# Pandas
Pandas is a library for data analysis. Its basic structures are Series and DataFrame. A Series is a one-dimensional array of indexed data. A DataFrame is a two-dimensional array with both row and column indices. We will be using Pandas throughout the course.

In [ ]:
import pandas as pd

Let's start by creating a Series from a list. The index of a Series is a sequence of labels, that can be used to access the elements. If we don't specify an index, a sequence of integers is used as the index.

In [ ]:
series = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
print(series)

In [ ]:
print(series['a'])

In [ ]:
print(series[0])

As in numpy, we can access a range of elements using slicing. The following code prints the first two elements in the series.

In [ ]:
print(series[0:2])
print(series['a':'b'])

In [ ]:
series[series > 2]

## DataFrame
A DataFrame is a two-dimensional array with both row and column indices. We can create a DataFrame from a dictionary. The keys of the dictionary are the column names and the values are the column values. The following code creates a DataFrame with two columns.

In [ ]:
data = {'country': ['Belgium', 'India', 'Brazil', 'United Kingdom', 'United States', 'China', 'Russia'],
        'capital': ['Brussels', 'New Delhi', 'Brasília', 'London', 'Washington D.C.', 'Beijing', 'Moscow'],
        'population': [11190846, 1303171035, 207847528, 65110000, 321418820, 1373541278, 143375006]}
df = pd.DataFrame(data, columns=['country', 'capital', 'population'])
print(df)

We can explore a dataframe using the head and tail methods. The head method prints the first five rows and the tail method prints the last five rows.

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
#Creating a dataset from only data
df = pd.DataFrame(data['population'], index =data['country'], columns=['population'])
df.head()

In [ ]:
#turning index into a column
df.reset_index(inplace=True)
df.head()

In [ ]:
# turning column into index
df.set_index('index', inplace=True)
df

We can convert a dataframe to a numpy array using the values method. The following code prints the values in the dataframe. Check the type of the output to verify it is a numpy array.

In [ ]:
df.values

In [ ]:
type(df.values)

In [ ]:
df.values.dtype

## Questions
1. What is the index in the previous dataframes?
2.  Create a dataframe of (at least 4) students, with 2 variables: name and grade. Country name should be the index.

We can  access a column in a dataframe using its name. The following code prints the country column. To access more than one column, we pass a list of column names.

In [ ]:
df = pd.DataFrame(data, index = [2010,2012,2014,2016,2018,2020,2022], columns=['country', 'capital', 'population'])
df['country']

In [ ]:
#The previous code is Equivalent to
df.country

In [ ]:
df[['country', 'population']]

We can access a row in a dataframe using its index. The following code prints the row with index 2012. To access more than one row, we pass a list of indices.

In [ ]:
df.loc[2012]

In [ ]:
df.loc[2012]['country']

In [ ]:
df.loc[[2012,2014]]

As with Series, we can use boolean indexing to access rows in a dataframe. The following code prints the rows with population greater than 1200000000.

In [ ]:
df[df['population'] > 1200000000]

In [ ]:
df[df['population'] > 1200000000]['country']

To build complex conditions, we can use the & and | operators. Each condition is enclosed by parenthesis.
The following code prints the rows with population greater than 1200000000 and index greater than 2013.

In [ ]:
df[(df['population'] > 1200000000) & (df.index > 2013)]

We can add a new column to a dataframe by assigning new values to a new column name. We add the column AverageTemp to the dataframe df. The values in the new column are from a list of values. The list must have the same length as the number of rows in the dataframe. (Note: the values are not real)

In [ ]:
df['AverageTemp'] = [20.2, 30.1, 40.2, 50.1, 60.2, 70.1, 80.2]

In [ ]:
df.head()

We usually need to filter the data in a dataframe. When filtering, Pandas doesn't necessarily duplicate the relevant cases in memory. Instead, it often creates a view, meaning it reuses the same memory location but restricts access to a specific part of it. While this approach is memory efficient, it can lead to warnings and errors when making modifications to the filtered data later. This concept is illustrated using the same dataset in our demonstration.

In [ ]:
df_filtered = df[df['population'] > 1200000000]
df_filtered

In [ ]:
df_filtered['new'] = [1,2]

To solve this issues, we need to make an explicit copy with .copy method before we start any modifications:

In [ ]:
df_filtered = df[df['population'] > 1200000000].copy()
df_filtered

In [ ]:
df_filtered['new'] = [1,2]

## Challenges
1. Create a numpy matrix and a data frame about cities by creating a matrix of data, and then creating a data frame from it using pd.DataFrame. Specify index (row names) and columns (variable names). Include at least 3 cities and 3 variables (population in millions, size in km2, and population density people per km2).
You may invent both city names and the figures! See section about creating dataframe from data.
2. Create a new column in the dataframe that calculates the population density of each city.
3. Filter the dataset to include only cities with population density over 10000 people per km2.
4. For the filtered dataset, create a new column that calculates the population in millions.

## Time Series in Pandas
Pandas has extensive support for time series data. A time series is a series of data points indexed in time order.
We will first create a set of dates using the date_range function. The function creates a series of dates with an specified frequency. The following code creates a series of 100 dates with a hourly frequency.

In [ ]:
#create a time series
dates = pd.date_range('20130101', periods=100, freq='H') #D for days, M for months, H for hours, S for seconds, check documentation for more
dates

We will now create a dataframe in which the index is the time series we just created. The values are random numbers from a normal distribution.

In [ ]:
#Create a dataframe with a time index, using random values
df = pd.DataFrame(np.random.randn(100,4), index=dates, columns=list('ABCD'))
df

The index of this dataframe is a datetime index. As with other indexes, we can access the data by slicing the index. The following code prints the data between 2013-01-02 00:00:00 and 2013-01-03 23:59:59.

In [ ]:
#Filter the date
df['20130102':'20130103']

Try accessing the date between 2013-01-02 00:06:00 and 2013-01-02 00:05:59.

In [ ]:
#Your code here

We can extract the year, month, day, hour, minute and second from the index using its properties. The following code prints the year from the index. You can use the same syntax to access other properties (month, day, hour, minute, second).

In [ ]:
#creating a column with the year
df['year'] = df.index.year
df

The previous code accessed date properties from a DateTimeIndex. However, if the dates were in a column and not an index, we would have to access the properties using the dt accessor. The following code illustrates this:

In [ ]:
#creating a column with the whole date
df['date'] = df.index
df

The dt accessor is a property of columns that are of type datetime. The following code prints the year from the date column.

In [ ]:
#accresing the year from the date column
df['date'].dt.year

One of the most useful features of time series is resampling. Resampling is the process of converting a time series from one frequency to another. To resample a time series, we first need to specify the new frequency and then apply a function to each group to obtain the new value. The following code resamples the data to get the mean of each month. We could instead use sum, max, min, median, etc.

In [ ]:
#resampling the data to get the mean of each day
df_resampled = df.resample('D').mean() #D for days, M for months, H for hours, S for seconds, check documentation for more
df_resampled

## Questions
1. What is the timezone assumed by the date_range function?
2. What is the meaning of the freq parameter in the date_range function?
3. What is the meaning of the freq parameter in the resample function?
4. Resample df to get the mean every 6 hours.

#Submission
To submit this file, go to file in the menu: download .ipynb
The, go to file and click print and print to PDF
Upload the downloaded files (PDF and .ipynb) to moodle.

# Extensions
 To learn more about google colab and pandas, go to the Google Tutorial https://colab.research.google.com/#scrollTo=UdRyKR44dcNI